MWS_Demo/Contract/SchemaCentric/MerchantExpressDataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xs:schema xmlns="urn:safetypay:schema:mws:api" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:safetypay:schema:mws:api" elementFormDefault="qualified">
  <xs:element name="Language" type="LanguageCodeType"/>
  <xs:complexType name="RefundType">
    <xs:sequence>
      <xs:element name="OperationID" type="xs:string"/>
      <xs:element name="CreationDateTime" type="xs:string"/>
      <xs:element name="SalesOperationID" type="xs:string"/>
      <xs:element name="AmountToRefund" type="xs:decimal"/>
      <xs:element name="CurrencyIDToRefund" type="xs:string"/>
      <xs:element name="TotalPartial" type="xs:integer"/>
      <xs:element name="Reason" type="xs:integer"/>
      <xs:element name="Comments" type="xs:string"/>
      <xs:element name="MerchantRefundId" type="xs:string" minOccurs="0"/>
      <xs:element name="ShopperInformation" type="ShopperInformationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorManagerType">
    <xs:sequence>
      <xs:element name="ErrorNumber" type="xs:integer"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element name="Severity" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShippingDetailType">
    <xs:sequence>
      <xs:element name="SalesOperationID" type="xs:string"/>
      <xs:element name="InvoiceDate" type="xs:string"/>
      <xs:element name="InvoiceNo" type="xs:string"/>
      <xs:element name="ShipDate" type="xs:string"/>
      <xs:element name="ShipMethod" type="xs:string"/>
      <xs:element name="DeliveryCompanyName" type="xs:string"/>
      <xs:element name="TrackingNumber" type="xs:string"/>
      <xs:element name="RecipientName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperationType">
    <xs:sequence>
      <xs:element name="CreationDateTime" type="xs:string"/>
      <xs:element name="OperationID" type="xs:string"/>
      <xs:element name="MerchantSalesID" type="xs:string"/>
      <xs:element name="MerchantOrderID" type="xs:string" minOccurs="0"/>
      <xs:element name="Amount" type="xs:decimal"/>
      <xs:element name="CurrencyID" type="xs:string"/>
      <xs:element name="ShopperAmount" type="xs:decimal"/>
      <xs:element name="ShopperCurrencyID" type="xs:string"/>
      <xs:element name="AuthorizationCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>AuthorizationCode + ExpiredDateCode + Random</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperationActivities" type="ListOfOperationActivitiesType" minOccurs="0"/>
      <xs:element name="PaymentReferenceNo" type="xs:string" minOccurs="0"/>
      <xs:element name="RefundsRelated" type="ListOfOperationRefundsType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfOperationsType">
    <xs:sequence>
      <xs:element name="Operation" type="OperationType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperationActivityType">
    <xs:sequence>
      <xs:element name="CreationDateTime" type="xs:string"/>
      <xs:element name="Status" type="StatusType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfOperationActivitiesType">
    <xs:sequence>
      <xs:element name="OperationActivity" type="OperationActivityType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:sequence>
      <xs:element name="StatusCode" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RefundStatusType">
    <xs:sequence>
      <xs:element name="StatusCode" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfOperationRefundsType">
    <xs:sequence>
      <xs:element name="RefundItem" type="OperationRefundType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperationRefundType">
    <xs:sequence>
      <xs:element name="CreationDateTime" type="xs:string"/>
      <xs:element name="OperationID" type="xs:string"/>
      <xs:element name="MerchantRefundID" type="xs:string"/>
      <xs:element name="RefundAmount" type="xs:decimal"/>
      <xs:element name="Currency" type="xs:string"/>
      <xs:element name="RefundType" type="xs:string"/>
      <xs:element name="RefundStatus" type="RefundStatusType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfShopperCurrenciesType">
    <xs:sequence>
      <xs:element name="ShopperCurrencyID" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionInfoType">
    <xs:sequence>
      <xs:element name="CreationDateTime" type="xs:string"/>
      <xs:element name="SalesOperationID" type="xs:string"/>
      <xs:element name="TransactionIdentifier" type="xs:string"/>
      <xs:element name="MerchantSalesID" type="xs:string"/>
      <xs:element name="CustomMerchantName" type="xs:string"/>
      <xs:element name="CurrencyID" type="xs:string"/>
      <xs:element name="Amount" type="xs:decimal"/>
      <xs:element name="PayableAmounts" type="ListOfPayableAmountsType"/>
      <xs:element name="ExpirationTime" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfPayableAmountsType">
    <xs:sequence>
      <xs:element name="PayableAmount" type="PayableAmountType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayableAmountType">
    <xs:sequence>
      <xs:element name="CurrencyID" type="xs:string"/>
      <xs:element name="Amount" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperationActivityNotifiedType">
    <xs:sequence>
      <xs:element name="CreationDateTime" type="xs:string"/>
      <xs:element name="OperationID" type="xs:string"/>
      <xs:element name="MerchantSalesID" type="xs:string"/>
      <xs:element name="MerchantOrderID" type="xs:string"/>
      <xs:element name="OperationStatus" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfOperationsActivityNotifiedType">
    <xs:sequence>
      <xs:element name="ConfirmOperation" type="OperationActivityNotifiedType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LanguageCodeType">
    <xs:annotation>
      <xs:documentation>
        standard 2-letter (capital letter).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="EN"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="ZH"/>
      <xs:enumeration value="JA"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="NL"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IdentifierSearchType">
    <xs:sequence>
      <xs:element name="Value" type="xs:string"/>
      <xs:element name="Type" type="IdentifierNumType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ListOfIdentifiersSearchType">
    <xs:sequence>
      <xs:element name="IdentifierSearch" type="IdentifierSearchType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransactionProcessedStatusType">
    <xs:sequence>
      <xs:element name="TransactionIdentifier" type="xs:string"/>
      <xs:element name="OperationID" type="xs:string"/>
      <xs:element name="MerchantSalesID" type="xs:string"/>
      <xs:element name="ProcessStatus" type="ProcessStatusType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProcessStatusEnumType">
    <xs:annotation>
      <xs:documentation>
        Identifies whether a process was successfully completed, failure or pending.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="PENDING"/>
      <xs:enumeration value="SUCCESS"/>
      <xs:enumeration value="FAILURE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ListOfTransactionsProcessedStatusType">
    <xs:sequence>
      <xs:element name="TransactionProcessedStatus" type="TransactionProcessedStatusType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IdentifierNumType">
    <xs:annotation>
      <xs:documentation>
        Values ​​that identifies the type of search:
        1: Search by operationId
        2: Search by MerchantSalesID
        3: (Reserved)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:short">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ProcessStatusType">
    <xs:sequence>
      <xs:element name="Status" type="ProcessStatusEnumType"/>
      <xs:element name="ProcessError" type="ErrorManagerType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerInformationType">
    <xs:sequence>
      <xs:element name="CustomerName" type="xs:string" minOccurs="0"/>
      <xs:element name="Phone" type="xs:string" minOccurs="0"/>
      <xs:element name="Email" type="xs:string" minOccurs="0"/>
      <xs:element name="CPF" type="xs:string" minOccurs="0"/>
      <xs:element name="BankName" type="xs:string" minOccurs="0"/>
      <xs:element name="Agency" type="xs:string" minOccurs="0"/>
      <xs:element name="Account" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShopperInformationType">
    <xs:sequence>
      <xs:element name="ShopperField" type="ShopperFieldType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShopperFieldType">
    <xs:attribute name="Key" type="xs:string"/>
    <xs:attribute name="Value" type="xs:string"/>
  </xs:complexType>
</xs:schema>