MWS_Demo/Service References/MWS34/MerchantExpressMessages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:safetypay:messages:mws:api" xmlns:typ="urn:safetypay:schema:mws:api" elementFormDefault="qualified" targetNamespace="urn:safetypay:messages:mws:api" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="MerchantExpressDataTypes.xsd" namespace="urn:safetypay:schema:mws:api" />
  <xs:element name="ShippedOrderRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="ShippingDetail" type="typ:ShippingDetailType" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShippedOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="SalesOperationID" type="xs:string" />
        <xs:element name="AmountToRefund" type="xs:decimal" />
        <xs:element name="TotalPartial" type="xs:integer" />
        <xs:element name="Reason" type="xs:integer" />
        <xs:element minOccurs="0" name="Comments" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element minOccurs="0" name="MerchantRefundId" type="xs:string" />
        <xs:element minOccurs="0" name="ShopperInformation" type="typ:ShopperInformationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericRefundProcessRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="SalesOperationID" type="xs:string" />
        <xs:element name="AmountToRefund" type="xs:decimal" />
        <xs:element name="CurrencyID" type="xs:string" />
        <xs:element name="TotalPartial" type="xs:integer" />
        <xs:element name="Reason" type="xs:integer" />
        <xs:element minOccurs="0" name="CustomerInformation" type="typ:CustomerInformationType" />
        <xs:element minOccurs="0" name="Comments" type="xs:string" />
        <xs:element minOccurs="0" name="MerchantRefundId" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefundProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="Refund" type="typ:RefundType" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationActivityRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="MerchantSalesID" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="ListOfOperations" type="typ:ListOfOperationsType" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="MerchantSalesID" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="ListOfOperations" type="typ:ListOfOperationsType" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationActivityNotifiedRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="ListOfOperationsActivityNotified" type="typ:ListOfOperationsActivityNotifiedType" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OperationActivityNotifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressTokenRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="CurrencyID" type="xs:string" />
        <xs:element name="Amount" type="xs:decimal" />
        <xs:element name="MerchantSalesID" type="xs:string" />
        <xs:element minOccurs="0" ref="typ:Language" />
        <xs:element minOccurs="0" name="TrackingCode" type="xs:string" />
        <xs:element minOccurs="0" name="ExpirationTime" type="xs:integer" />
        <xs:element minOccurs="0" name="FilterBy" type="xs:string" />
        <xs:element name="TransactionOkURL" type="xs:string" />
        <xs:element name="TransactionErrorURL" type="xs:string" />
        <xs:element name="TransactionExpirationTime" type="xs:integer" />
        <xs:element name="CustomMerchantName" type="xs:string" />
        <xs:element minOccurs="0" name="ShopperEmail" type="xs:string" />
        <xs:element name="LocalizedCurrencyID" type="xs:string" />
        <xs:element name="ProductID" type="xs:integer" />
        <xs:element minOccurs="0" name="ShopperInformation" type="ShopperInformationType" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="ShopperRedirectURL" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressTokenReverseRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="CurrencyID" type="xs:string" />
        <xs:element name="Amount" type="xs:decimal" />
        <xs:element name="MerchantSalesID" type="xs:string" />
        <xs:element name="SalesCurrencyID" type="xs:string" />
        <xs:element minOccurs="0" ref="typ:Language" />
        <xs:element minOccurs="0" name="TrackingCode" type="xs:string" />
        <xs:element minOccurs="0" name="ExpirationTime" type="xs:integer" />
        <xs:element minOccurs="0" name="FilterBy" type="xs:string" />
        <xs:element name="TransactionOkURL" type="xs:string" />
        <xs:element name="TransactionErrorURL" type="xs:string" />
        <xs:element name="TransactionExpirationTime" type="xs:integer" />
        <xs:element name="CustomMerchantName" type="xs:string" />
        <xs:element minOccurs="0" name="ShopperEmail" type="xs:string" />
        <xs:element name="ProductID" type="xs:integer" />
        <xs:element minOccurs="0" name="ShopperInformation" type="ShopperInformationType" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpressTokenReverseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="ShopperRedirectURL" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="TransactionIdentifier" type="xs:string" />
        <xs:element name="CountryID" type="xs:string" />
        <xs:element name="CurrencyID" type="xs:string" />
        <xs:element name="Amount" type="xs:decimal" />
        <xs:element name="ShopperCurrencies" type="typ:ListOfShopperCurrenciesType" />
        <xs:element name="MerchantSalesID" type="xs:string" />
        <xs:element minOccurs="0" ref="typ:Language" />
        <xs:element minOccurs="0" name="TrackingCode" type="xs:string" />
        <xs:element minOccurs="0" name="ExpirationTime" type="xs:integer" />
        <xs:element minOccurs="0" name="CustomMerchantName" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionOkURL" type="xs:string" />
        <xs:element minOccurs="0" name="TransactionErrorURL" type="xs:string" />
        <xs:element minOccurs="0" name="ShopperEmail" type="xs:string" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="TransactionInfo" type="typ:TransactionInfoType" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionSpecIdentifierRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ApiKey" type="xs:string" />
        <xs:element name="RequestDateTime" type="xs:string" />
        <xs:element name="ListOfIdentifiersSearch" type="typ:ListOfIdentifiersSearchType" />
        <xs:element name="Signature" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionSpecIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseDateTime" type="xs:string" />
        <xs:element name="ListOfTransactionsProcessedStatus" type="typ:ListOfTransactionsProcessedStatusType" />
        <xs:element name="Signature" type="xs:string" />
        <xs:element name="ErrorManager" type="typ:ErrorManagerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ShopperInformationType">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ShopperFieldType" type="typ:ShopperFieldType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>